// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}

// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
/*阅读全文按钮部分*/
.post-button a:hover {
    border-bottom-color:#a96363;
}
/*阅读全文按钮悬停部分*/
.btn:hover {
    border-color: rgb(122, 224, 224);
    color: rgb(122, 224, 224);
    background: none;
}
/*文字以及下划线部分*/
.post-button a {
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    transition-property: border;
    color: black;
}
