.home-blog .hero {
    height: 0px!important;
}

.home-blog .hero h1 {
    margin: 2rem auto 1.8rem!important;
}

.home-blog .home-blog-wrapper .info-wrapper .personal-img {
    width: 0rem!important;
    height: 0rem!important;
    margin: 0rem!important;
}